$primary_color: #015dc7;$secondary_color: #a200ff;$third_color: #12a9ff;$link_color: #015dc7;$link_color_hover: #6747ee;$link_color_active: #6747ee;$primary_color_from: #6747ee;$primary_color_to: #9124dc;$primary_color_two: #ff5a3c;
                $body_default_font: Rubik;
            
                $heading_default_font: Poppins;
            